.settings-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  font-family: "Inter";
  flex-direction: column;
  background-color: #5228F5;
}
.settings-container1 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.settings-max-width {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.settings-form {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 70px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-theme-neutral-light);
}
.settings-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.settings-text {
  text-align: center;
  font-family: "Inter";
}
.settings-form1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.settings-name {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.settings-text1 {
  align-self: center;
}
.settings-textinput {
  width: 100%;
  border-color: #7350f7;
}
.settings-surname {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.settings-text4 {
  align-self: center;
}
.settings-textinput1 {
  width: 100%;
  border-color: #7350f7;
}
.settings-divider {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.settings-divider1 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #7350f7;
}
.settings-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.settings-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.settings-text7 {
  align-self: center;
}
.settings-textinput2 {
  width: 100%;
  border-color: #7350f7;
}
.settings-textinput3 {
  width: 100%;
  border-color: #7350f7;
}
.settings-button {
  width: 100%;
  transition: 0.3s;
  background-color: black;
}
.settings-button:hover {
  background-color: #3e19c9;
}
.settings-text8 {
  text-align: center;
}
@media(max-width: 991px) {
  .settings-container1 {
    gap: var(--dl-space-space-twounits);
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .settings-max-width {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .settings-max-width {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .settings-form {
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 40px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .settings-text {
    font-size: 30px;
    text-align: center;
  }
  .settings-text1 {
    align-self: center;
  }
  .settings-text4 {
    align-self: center;
  }
  .settings-text7 {
    align-self: center;
  }
  .settings-button {
    width: 100%;
  }
}
