{% extends 'header.html' %}
{% block links %}
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div>
        <link href="../static/css/company.css" rel="stylesheet" />

        <div class="company-container">
          <div class="company-container01">
            <div class="company-map">
              <div class="company-container02">
              {{ form.level400(class="company-button button cyan-button locked", type="button", data_level="400") }}
              {{ form.level397(class="company-button001 button cyan-button locked", type="button", data_level="397") }}
              {{ form.level396(class="company-button002 button cyan-button locked", type="button", data_level="396") }}
              {{ form.level395(class="company-button003 button cyan-button locked", type="button", data_level="395") }}
              {{ form.level394(class="company-button004 button cyan-button locked", type="button", data_level="394") }}
              {{ form.level393(class="company-button005 button cyan-button locked", type="button", data_level="393") }}
              {{ form.level392(class="company-button006 button cyan-button locked", type="button", data_level="392") }}
              {{ form.level391(class="company-button007 button cyan-button locked", type="button", data_level="391") }}
              {{ form.level390(class="company-button008 button cyan-button locked", type="button", data_level="390") }}
              {{ form.level389(class="company-button009 button cyan-button locked", type="button", data_level="389") }}
              {{ form.level388(class="company-button010 button cyan-button locked", type="button", data_level="388") }}
              {{ form.level387(class="company-button011 button cyan-button locked", type="button", data_level="387") }}
              {{ form.level386(class="company-button012 button cyan-button locked", type="button", data_level="386") }}
              {{ form.level385(class="company-button013 button cyan-button locked", type="button", data_level="385") }}
              {{ form.level384(class="company-button014 button cyan-button locked", type="button", data_level="384") }}
              {{ form.level383(class="company-button015 button cyan-button locked", type="button", data_level="383") }}
              {{ form.level382(class="company-button016 button cyan-button locked", type="button", data_level="382") }}
              {{ form.level381(class="company-button017 button cyan-button locked", type="button", data_level="381") }}
              {{ form.level380(class="company-button018 button cyan-button locked", type="button", data_level="380") }}
              {{ form.level399(class="company-button019 button cyan-button locked", type="button", data_level="399") }}
              {{ form.level398(class="company-button020 button cyan-button locked", type="button", data_level="398") }}
              </div>
              <div class="company-container03">
              {{ form.level346(class="company-button021 button cyan-button locked", type="button", data_level="346") }}
              {{ form.level347(class="company-button022 button cyan-button locked", type="button", data_level="347") }}
              {{ form.level350(class="company-button023 button cyan-button locked", type="button", data_level="350") }}
              {{ form.level349(class="company-button024 button cyan-button locked", type="button", data_level="349") }}
              {{ form.level348(class="company-button025 button cyan-button locked", type="button", data_level="348") }}
              {{ form.level351(class="company-button026 button cyan-button locked", type="button", data_level="351") }}
              {{ form.level377(class="company-button027 button cyan-button locked", type="button", data_level="377") }}
              {{ form.level376(class="company-button028 button cyan-button locked", type="button", data_level="376") }}
              {{ form.level375(class="company-button029 button cyan-button locked", type="button", data_level="375") }}
              {{ form.level372(class="company-button030 button cyan-button locked", type="button", data_level="372") }}
              {{ form.level371(class="company-button031 button cyan-button locked", type="button", data_level="371") }}
              {{ form.level370(class="company-button032 button cyan-button locked", type="button", data_level="370") }}
              {{ form.level374(class="company-button033 button cyan-button locked", type="button", data_level="374") }}
              {{ form.level369(class="company-button034 button cyan-button locked", type="button", data_level="369") }}
              {{ form.level368(class="company-button035 button cyan-button locked", type="button", data_level="368") }}
              {{ form.level367(class="company-button036 button cyan-button locked", type="button", data_level="367") }}
              {{ form.level366(class="company-button037 button cyan-button locked", type="button", data_level="366") }}
              {{ form.level365(class="company-button038 button cyan-button locked", type="button", data_level="365") }}
              {{ form.level364(class="company-button039 button cyan-button locked", type="button", data_level="364") }}
              {{ form.level363(class="company-button040 button cyan-button locked", type="button", data_level="363") }}
              {{ form.level362(class="company-button041 button cyan-button locked", type="button", data_level="362") }}
              {{ form.level361(class="company-button042 button cyan-button locked", type="button", data_level="361") }}
              {{ form.level378(class="company-button043 button cyan-button locked", type="button", data_level="378") }}
              {{ form.level360(class="company-button044 button cyan-button locked", type="button", data_level="360") }}
              {{ form.level359(class="company-button045 button cyan-button locked", type="button", data_level="359") }}
              {{ form.level358(class="company-button046 button cyan-button locked", type="button", data_level="358") }}
              {{ form.level357(class="company-button047 button cyan-button locked", type="button", data_level="357") }}
              {{ form.level356(class="company-button048 button cyan-button locked", type="button", data_level="356") }}
              {{ form.level355(class="company-button049 button cyan-button locked", type="button", data_level="355") }}
              {{ form.level354(class="company-button050 button cyan-button locked", type="button", data_level="354") }}
              {{ form.level353(class="company-button051 button cyan-button locked", type="button", data_level="353") }}
              {{ form.level352(class="company-button052 button cyan-button locked", type="button", data_level="352") }}
              {{ form.level379(class="company-button053 button cyan-button locked", type="button", data_level="379") }}
              {{ form.level373(class="company-button054 button cyan-button locked", type="button", data_level="373") }}
              </div>
              <div class="company-container04">
              {{ form.level318(class="company-button055 button cyan-button locked", type="button", data_level="318") }}
              {{ form.level320(class="company-button056 button cyan-button locked", type="button", data_level="320") }}
              {{ form.level319(class="company-button057 button cyan-button locked", type="button", data_level="319") }}
              {{ form.level321(class="company-button058 button cyan-button locked", type="button", data_level="321") }}
              {{ form.level336(class="company-button059 button cyan-button locked", type="button", data_level="336") }}
              {{ form.level335(class="company-button060 button cyan-button locked", type="button", data_level="335") }}
              {{ form.level334(class="company-button061 button cyan-button locked", type="button", data_level="334") }}
              {{ form.level333(class="company-button062 button cyan-button locked", type="button", data_level="333") }}
              {{ form.level332(class="company-button063 button cyan-button locked", type="button", data_level="332") }}
              {{ form.level331(class="company-button064 button cyan-button locked", type="button", data_level="331") }}
              {{ form.level337(class="company-button065 button cyan-button locked", type="button", data_level="337") }}
              {{ form.level330(class="company-button066 button cyan-button locked", type="button", data_level="330") }}
              {{ form.level329(class="company-button067 button cyan-button locked", type="button", data_level="329") }}
              {{ form.level328(class="company-button068 button cyan-button locked", type="button", data_level="328") }}
              {{ form.level327(class="company-button069 button cyan-button locked", type="button", data_level="327") }}
              {{ form.level326(class="company-button070 button cyan-button locked", type="button", data_level="326") }}
              {{ form.level325(class="company-button071 button cyan-button locked", type="button", data_level="325") }}
              {{ form.level324(class="company-button072 button cyan-button locked", type="button", data_level="324") }}
              {{ form.level323(class="company-button073 button cyan-button locked", type="button", data_level="323") }}
              {{ form.level322(class="company-button074 button cyan-button locked", type="button", data_level="322") }}
              {{ form.level338(class="company-button075 button cyan-button locked", type="button", data_level="338") }}
              {{ form.level340(class="company-button076 button cyan-button locked", type="button", data_level="340") }}
              {{ form.level339(class="company-button077 button cyan-button locked", type="button", data_level="339") }}
              {{ form.level345(class="company-button078 button cyan-button locked", type="button", data_level="345") }}
              {{ form.level344(class="company-button079 button cyan-button locked", type="button", data_level="344") }}
              {{ form.level343(class="company-button080 button cyan-button locked", type="button", data_level="343") }}
              {{ form.level342(class="company-button081 button cyan-button locked", type="button", data_level="342") }}
              {{ form.level341(class="company-button082 button cyan-button locked", type="button", data_level="341") }}
              </div>
              <div class="company-container05">
              {{ form.level282(class="company-button083 button orange-button locked", type="button", data_level="282") }}
              {{ form.level295(class="company-button084 button orange-button locked", type="button", data_level="295") }}
              {{ form.level294(class="company-button085 button orange-button locked", type="button", data_level="294") }}
              {{ form.level293(class="company-button086 button orange-button locked", type="button", data_level="293") }}
              {{ form.level292(class="company-button087 button orange-button locked", type="button", data_level="292") }}
              {{ form.level296(class="company-button088 button orange-button locked", type="button", data_level="296") }}
              {{ form.level317(class="company-button089 button orange-button locked", type="button", data_level="317") }}
              {{ form.level316(class="company-button090 button orange-button locked", type="button", data_level="316") }}
              {{ form.level306(class="company-button091 button orange-button locked", type="button", data_level="306") }}
              {{ form.level315(class="company-button092 button orange-button locked", type="button", data_level="315") }}
              {{ form.level314(class="company-button093 button orange-button locked", type="button", data_level="314") }}
              {{ form.level313(class="company-button094 button orange-button locked", type="button", data_level="313") }}
              {{ form.level312(class="company-button095 button orange-button locked", type="button", data_level="312") }}
              {{ form.level311(class="company-button096 button orange-button locked", type="button", data_level="311") }}
              {{ form.level310(class="company-button097 button orange-button locked", type="button", data_level="310") }}
              {{ form.level309(class="company-button098 button orange-button locked", type="button", data_level="309") }}
              {{ form.level308(class="company-button099 button orange-button locked", type="button", data_level="308") }}
              {{ form.level307(class="company-button100 button orange-button locked", type="button", data_level="307") }}
              {{ form.level305(class="company-button101 button orange-button locked", type="button", data_level="305") }}
              {{ form.level304(class="company-button102 button orange-button locked", type="button", data_level="304") }}
              {{ form.level303(class="company-button103 button orange-button locked", type="button", data_level="303") }}
              {{ form.level302(class="company-button104 button orange-button locked", type="button", data_level="302") }}
              {{ form.level301(class="company-button105 button orange-button locked", type="button", data_level="301") }}
              {{ form.level300(class="company-button106 button orange-button", type="button", data_level="300") }}
              {{ form.level299(class="company-button107 button orange-button locked", type="button", data_level="299") }}
              {{ form.level298(class="company-button108 button orange-button locked", type="button", data_level="298") }}
              {{ form.level291(class="company-button109 button orange-button locked", type="button", data_level="291") }}
              {{ form.level290(class="company-button110 button orange-button locked", type="button", data_level="290") }}
              {{ form.level289(class="company-button111 button orange-button locked", type="button", data_level="289") }}
              {{ form.level288(class="company-button112 button orange-button locked", type="button", data_level="288") }}
              {{ form.level287(class="company-button113 button orange-button locked", type="button", data_level="287") }}
              {{ form.level286(class="company-button114 button orange-button locked", type="button", data_level="286") }}
              {{ form.level285(class="company-button115 button orange-button locked", type="button", data_level="285") }}
              {{ form.level284(class="company-button116 button orange-button locked", type="button", data_level="284") }}
              {{ form.level283(class="company-button117 button orange-button locked", type="button", data_level="283") }}
              {{ form.level297(class="company-button118 button orange-button locked", type="button", data_level="297") }}
              </div>
              <div class="company-container06">
              {{ form.level252(class="company-button119 button blue-button locked", type="button", data_level="252") }}
              {{ form.level256(class="company-button120 button blue-button locked", type="button", data_level="256") }}
              {{ form.level255(class="company-button121 button blue-button locked", type="button", data_level="255") }}
              {{ form.level254(class="company-button122 button blue-button locked", type="button", data_level="254") }}
              {{ form.level253(class="company-button123 button blue-button locked", type="button", data_level="253") }}
              {{ form.level257(class="company-button124 button orange-button locked", type="button", data_level="257") }}
              {{ form.level258(class="company-button125 button orange-button locked", type="button", data_level="258") }}
              {{ form.level259(class="company-button126 button orange-button locked", type="button", data_level="259") }}
              {{ form.level260(class="company-button127 button orange-button locked", type="button", data_level="260") }}
              {{ form.level261(class="company-button128 button orange-button locked", type="button", data_level="261") }}
              {{ form.level281(class="company-button129 button orange-button locked", type="button", data_level="281") }}
              {{ form.level280(class="company-button130 button orange-button locked", type="button", data_level="280") }}
              {{ form.level279(class="company-button131 button orange-button locked", type="button", data_level="279") }}
              {{ form.level278(class="company-button132 button orange-button locked", type="button", data_level="278") }}
              {{ form.level277(class="company-button133 button orange-button locked", type="button", data_level="277") }}
              {{ form.level276(class="company-button134 button orange-button locked", type="button", data_level="276") }}
              {{ form.level275(class="company-button135 button orange-button locked", type="button", data_level="275") }}
              {{ form.level274(class="company-button136 button orange-button locked", type="button", data_level="274") }}
              {{ form.level273(class="company-button137 button orange-button locked", type="button", data_level="273") }}
              {{ form.level272(class="company-button138 button orange-button locked", type="button", data_level="272") }}
              {{ form.level271(class="company-button139 button orange-button locked", type="button", data_level="271") }}
              {{ form.level270(class="company-button140 button orange-button locked", type="button", data_level="270") }}
              {{ form.level269(class="company-button141 button orange-button locked", type="button", data_level="269") }}
              {{ form.level268(class="company-button142 button orange-button locked", type="button", data_level="268") }}
              {{ form.level267(class="company-button143 button orange-button locked", type="button", data_level="267") }}
              {{ form.level266(class="company-button144 button orange-button locked", type="button", data_level="266") }}
              {{ form.level265(class="company-button145 button orange-button locked", type="button", data_level="265") }}
              {{ form.level264(class="company-button146 button orange-button locked", type="button", data_level="264") }}
              {{ form.level263(class="company-button147 button orange-button locked", type="button", data_level="263") }}
              {{ form.level262(class="company-button148 button orange-button locked", type="button", data_level="262") }}
              </div>
              <div class="company-container07">
              {{ form.level220(class="company-button149 button blue-button locked", type="button", data_level="220") }}
              {{ form.level219(class="company-button150 button blue-button locked", type="button", data_level="219") }}
              {{ form.level221(class="company-button151 button blue-button locked", type="button", data_level="221") }}
              {{ form.level222(class="company-button152 button blue-button locked", type="button", data_level="222") }}
              {{ form.level250(class="company-button153 button blue-button locked", type="button", data_level="250") }}
              {{ form.level244(class="company-button154 button blue-button locked", type="button", data_level="244") }}
              {{ form.level246(class="company-button155 button blue-button locked", type="button", data_level="246") }}
              {{ form.level248(class="company-button156 button blue-button locked", type="button", data_level="248") }}
              {{ form.level247(class="company-button157 button blue-button locked", type="button", data_level="247") }}
              {{ form.level251(class="company-button158 button blue-button locked", type="button", data_level="251") }}
              {{ form.level245(class="company-button159 button blue-button locked", type="button", data_level="245") }}
              {{ form.level249(class="company-button160 button blue-button locked", type="button", data_level="249") }}
              {{ form.level243(class="company-button161 button blue-button locked", type="button", data_level="243") }}
              {{ form.level242(class="company-button162 button blue-button locked", type="button", data_level="242") }}
              {{ form.level241(class="company-button163 button blue-button locked", type="button", data_level="241") }}
              {{ form.level240(class="company-button164 button blue-button locked", type="button", data_level="240") }}
              {{ form.level231(class="company-button165 button blue-button locked", type="button", data_level="231") }}
              {{ form.level239(class="company-button166 button blue-button locked", type="button", data_level="239") }}
              {{ form.level238(class="company-button167 button blue-button locked", type="button", data_level="238") }}
              {{ form.level237(class="company-button168 button blue-button locked", type="button", data_level="237") }}
              {{ form.level236(class="company-button169 button blue-button locked", type="button", data_level="236") }}
              {{ form.level235(class="company-button170 button blue-button locked", type="button", data_level="235") }}
              {{ form.level234(class="company-button171 button blue-button locked", type="button", data_level="234") }}
              {{ form.level233(class="company-button172 button blue-button locked", type="button", data_level="233") }}
              {{ form.level232(class="company-button173 button blue-button locked", type="button", data_level="232") }}
              {{ form.level230(class="company-button174 button blue-button locked", type="button", data_level="230") }}
              {{ form.level229(class="company-button175 button blue-button locked", type="button", data_level="229") }}
              {{ form.level228(class="company-button176 button blue-button locked", type="button", data_level="228") }}
              {{ form.level226(class="company-button177 button blue-button locked", type="button", data_level="226") }}
              {{ form.level227(class="company-button178 button blue-button locked", type="button", data_level="227") }}
              {{ form.level225(class="company-button179 button blue-button locked", type="button", data_level="225") }}
              {{ form.level224(class="company-button180 button blue-button locked", type="button", data_level="224") }}
              {{ form.level223(class="company-button181 button blue-button locked", type="button", data_level="223") }}
              </div>
              <div class="company-container08">
              {{ form.level218(class="company-button189 button blue-button locked", type="button", data_level="218") }}
              {{ form.level217(class="company-button194 button blue-button locked", type="button", data_level="217") }}
              {{ form.level216(class="company-button190 button blue-button locked", type="button", data_level="216") }}
              {{ form.level215(class="company-button195 button blue-button locked", type="button", data_level="215") }}
              {{ form.level214(class="company-button185 button blue-button locked", type="button", data_level="214") }}
              {{ form.level213(class="company-button186 button blue-button locked", type="button", data_level="213") }}
              {{ form.level212(class="company-button187 button blue-button locked", type="button", data_level="212") }}
              {{ form.level211(class="company-button196 button blue-button locked", type="button", data_level="211") }}
              {{ form.level210(class="company-button183 button blue-button locked", type="button", data_level="210") }}
              {{ form.level209(class="company-button188 button blue-button locked", type="button", data_level="209") }}
              {{ form.level208(class="company-button191 button blue-button locked", type="button", data_level="208") }}
              {{ form.level207(class="company-button193 button blue-button locked", type="button", data_level="207") }}
              {{ form.level206(class="company-button184 button blue-button locked", type="button", data_level="206") }}
              {{ form.level205(class="company-button197 button blue-button locked", type="button", data_level="205") }}
              {{ form.level204(class="company-button198 button blue-button locked", type="button", data_level="204") }}
              {{ form.level203(class="company-button199 button blue-button locked", type="button", data_level="203") }}
              {{ form.level202(class="company-button200 button blue-button locked", type="button", data_level="202") }}
              {{ form.level201(class="company-button192 button blue-button locked", type="button", data_level="201") }}
              {{ form.level200(class="company-button201 button blue-button", type="button", data_level="200") }}
              {{ form.level199(class="company-button202 button blue-button locked", type="button", data_level="199") }}
              {{ form.level198(class="company-button203 button blue-button locked", type="button", data_level="198") }}
              {{ form.level197(class="company-button204 button blue-button locked", type="button", data_level="197") }}
              {{ form.level196(class="company-button205 button blue-button locked", type="button", data_level="196") }}
              {{ form.level195(class="company-button206 button blue-button locked", type="button", data_level="195") }}
              {{ form.level194(class="company-button207 button blue-button locked", type="button", data_level="194") }}
              {{ form.level193(class="company-button208 button blue-button locked", type="button", data_level="193") }}
              {{ form.level192(class="company-button209 button blue-button locked", type="button", data_level="192") }}
              {{ form.level191(class="company-button210 button blue-button locked", type="button", data_level="191") }}
              {{ form.level190(class="company-button211 button blue-button locked", type="button", data_level="190") }}
              {{ form.level189(class="company-button212 button blue-button locked", type="button", data_level="189") }}
              {{ form.level188(class="company-button213 button blue-button locked", type="button", data_level="188") }}
              {{ form.level187(class="company-button214 button blue-button locked", type="button", data_level="187") }}
              {{ form.level186(class="company-button182 button blue-button locked", type="button", data_level="186") }}
              </div>
              <div class="company-container10">
              {{ form.level185(class="company-button246 button blue-button locked", type="button", data_level="185") }}
              {{ form.level184(class="company-button245 button purple-button locked", type="button", data_level="184") }}
              {{ form.level183(class="company-button240 button purple-button locked", type="button", data_level="183") }}
              {{ form.level182(class="company-button244 button purple-button locked", type="button", data_level="182") }}
              {{ form.level181(class="company-button234 button purple-button locked", type="button", data_level="181") }}
              {{ form.level180(class="company-button233 button purple-button locked", type="button", data_level="180") }}
              {{ form.level179(class="company-button243 button purple-button locked", type="button", data_level="179") }}
              {{ form.level178(class="company-button232 button purple-button locked", type="button", data_level="178") }}
              {{ form.level177(class="company-button230 button purple-button locked", type="button", data_level="177") }}
              {{ form.level176(class="company-button229 button purple-button locked", type="button", data_level="176") }}
              {{ form.level175(class="company-button227 button purple-button locked", type="button", data_level="175") }}
              {{ form.level174(class="company-button228 button purple-button locked", type="button", data_level="174") }}
              {{ form.level173(class="company-button226 button purple-button locked", type="button", data_level="173") }}
              {{ form.level172(class="company-button239 button purple-button locked", type="button", data_level="172") }}
              {{ form.level171(class="company-button231 button purple-button locked", type="button", data_level="171") }}
              {{ form.level170(class="company-button221 button purple-button locked", type="button", data_level="170") }}
              {{ form.level169(class="company-button225 button purple-button locked", type="button", data_level="169") }}
              {{ form.level168(class="company-button242 button purple-button locked", type="button", data_level="168") }}
              {{ form.level167(class="company-button220 button purple-button locked", type="button", data_level="167") }}
              {{ form.level166(class="company-button222 button purple-button locked", type="button", data_level="166") }}
              {{ form.level165(class="company-button223 button purple-button locked", type="button", data_level="165") }}
              {{ form.level164(class="company-button224 button purple-button locked", type="button", data_level="164") }}
              {{ form.level163(class="company-button219 button purple-button locked", type="button", data_level="163") }}
              {{ form.level162(class="company-button216 button purple-button locked", type="button", data_level="162") }}
              {{ form.level161(class="company-button217 button purple-button locked", type="button", data_level="161") }}
              {{ form.level160(class="company-button241 button purple-button locked", type="button", data_level="160") }}
              {{ form.level159(class="company-button218 button purple-button locked", type="button", data_level="159") }}
              {{ form.level158(class="company-button235 button purple-button locked", type="button", data_level="158") }}
              {{ form.level157(class="company-button236 button purple-button locked", type="button", data_level="157") }}
              {{ form.level156(class="company-button237 button purple-button locked", type="button", data_level="156") }}
              {{ form.level152(class="company-button238 button purple-button locked", type="button", data_level="152") }}
              {{ form.level151(class="company-button215 button purple-button locked", type="button", data_level="151") }}
              </div>
              <div class="company-container12">
              {{ form.level155(class="company-button283 button purple-button locked", type="button", data_level="155") }}
              {{ form.level154(class="company-button275 button purple-button locked", type="button", data_level="154") }}
              {{ form.level153(class="company-button274 button purple-button locked", type="button", data_level="153") }}
              {{ form.level150(class="company-button282 button purple-button locked", type="button", data_level="150") }}
              {{ form.level149(class="company-button281 button purple-button locked", type="button", data_level="149") }}
              {{ form.level148(class="company-button280 button purple-button locked", type="button", data_level="148") }}
              {{ form.level147(class="company-button279 button purple-button locked", type="button", data_level="147") }}
              {{ form.level146(class="company-button278 button purple-button locked", type="button", data_level="146") }}
              {{ form.level145(class="company-button262 button purple-button locked", type="button", data_level="145") }}
              {{ form.level144(class="company-button265 button purple-button locked", type="button", data_level="144") }}
              {{ form.level143(class="company-button266 button purple-button locked", type="button", data_level="143") }}
              {{ form.level142(class="company-button269 button purple-button locked", type="button", data_level="142") }}
              {{ form.level141(class="company-button268 button purple-button locked", type="button", data_level="141") }}
              {{ form.level140(class="company-button267 button purple-button locked", type="button", data_level="140") }}
              {{ form.level139(class="company-button270 button purple-button locked", type="button", data_level="139") }}
              {{ form.level138(class="company-button271 button purple-button locked", type="button", data_level="138") }}
              {{ form.level137(class="company-button272 button purple-button locked", type="button", data_level="137") }}
              {{ form.level136(class="company-button273 button purple-button locked", type="button", data_level="136") }}
              {{ form.level135(class="company-button263 button purple-button locked", type="button", data_level="135") }}
              {{ form.level134(class="company-button264 button purple-button locked", type="button", data_level="134") }}
              {{ form.level133(class="company-button261 button purple-button locked", type="button", data_level="133") }}
              {{ form.level132(class="company-button258 button purple-button locked", type="button", data_level="132") }}
              {{ form.level131(class="company-button257 button purple-button locked", type="button", data_level="131") }}
              {{ form.level130(class="company-button256 button purple-button locked", type="button", data_level="130") }}
              {{ form.level129(class="company-button259 button purple-button locked", type="button", data_level="129") }}
              {{ form.level128(class="company-button260 button purple-button locked", type="button", data_level="128") }}
              {{ form.level127(class="company-button255 button purple-button locked", type="button", data_level="127") }}
              {{ form.level126(class="company-button277 button pink-button locked", type="button", data_level="126") }}
              {{ form.level125(class="company-button276 button pink-button locked", type="button", data_level="125") }}
              {{ form.level124(class="company-button248 button pink-button locked", type="button", data_level="124") }}
              {{ form.level123(class="company-button249 button pink-button locked", type="button", data_level="123") }}
              {{ form.level122(class="company-button250 button pink-button locked", type="button", data_level="122") }}
              {{ form.level121(class="company-button251 button pink-button locked", type="button", data_level="121") }}
              {{ form.level120(class="company-button252 button pink-button locked", type="button", data_level="120") }}
              {{ form.level119(class="company-button254 button pink-button locked", type="button", data_level="119") }}
              {{ form.level118(class="company-button253 button pink-button locked", type="button", data_level="118") }}
              {{ form.level117(class="company-button247 button pink-button locked", type="button", data_level="117") }}
              </div>
              <div class="company-container13">
              {{ form.level116(class="company-button330 button pink-button locked", type="button", data_level="116") }}
              {{ form.level115(class="company-button329 button pink-button locked", type="button", data_level="115") }}
              {{ form.level114(class="company-button328 button pink-button locked", type="button", data_level="114") }}
              {{ form.level113(class="company-button327 button pink-button locked", type="button", data_level="113") }}
              {{ form.level112(class="company-button322 button pink-button locked", type="button", data_level="112") }}
              {{ form.level111(class="company-button323 button pink-button locked", type="button", data_level="111") }}
              {{ form.level110(class="company-button324 button pink-button locked", type="button", data_level="110") }}
              {{ form.level109(class="company-button326 button pink-button locked", type="button", data_level="109") }}
              {{ form.level108(class="company-button325 button pink-button locked", type="button", data_level="108") }}
              {{ form.level107(class="company-button321 button pink-button locked", type="button", data_level="107") }}
              {{ form.level106(class="company-button294 button pink-button locked", type="button", data_level="106") }}
              {{ form.level105(class="company-button293 button pink-button locked", type="button", data_level="105") }}
              {{ form.level104(class="company-button320 button pink-button locked", type="button", data_level="104") }}
              {{ form.level103(class="company-button318 button pink-button locked", type="button", data_level="103") }}
              {{ form.level102(class="company-button319 button pink-button locked", type="button", data_level="102") }}
              {{ form.level101(class="company-button317 button pink-button locked", type="button", data_level="101") }}
              {{ form.level100(class="company-button316 button pink-button", type="button", data_level="100") }}
              {{ form.level99(class="company-button292 button pink-button locked", type="button", data_level="99") }}
              {{ form.level98(class="company-button287 button pink-button locked", type="button", data_level="98") }}
              {{ form.level97(class="company-button285 button pink-button locked", type="button", data_level="97") }}
              {{ form.level96(class="company-button288 button pink-button locked", type="button", data_level="96") }}
              {{ form.level95(class="company-button290 button pink-button locked", type="button", data_level="95") }}
              {{ form.level94(class="company-button284 button pink-button locked", type="button", data_level="94") }}
              {{ form.level93(class="company-button286 button pink-button locked", type="button", data_level="93") }}
              {{ form.level92(class="company-button289 button pink-button locked", type="button", data_level="92") }}
              {{ form.level91(class="company-button291 button pink-button locked", type="button", data_level="91") }}
              {{ form.level90(class="company-button295 button pink-button locked", type="button", data_level="90") }}
              {{ form.level89(class="company-button296 button pink-button locked", type="button", data_level="89") }}
              {{ form.level88(class="company-button297 button pink-button locked", type="button", data_level="88") }}
              {{ form.level87(class="company-button298 button pink-button locked", type="button", data_level="87") }}
              {{ form.level86(class="company-button299 button pink-button locked", type="button", data_level="86") }}
              {{ form.level85(class="company-button300 button pink-button locked", type="button", data_level="85") }}
              {{ form.level84(class="company-button301 button pink-button locked", type="button", data_level="84") }}
              {{ form.level83(class="company-button302 button pink-button locked", type="button", data_level="83") }}
              {{ form.level82(class="company-button303 button pink-button locked", type="button", data_level="82") }}
              {{ form.level81(class="company-button304 button pink-button locked", type="button", data_level="81") }}
              {{ form.level80(class="company-button305 button pink-button locked", type="button", data_level="80") }}
              {{ form.level79(class="company-button306 button pink-button locked", type="button", data_level="79") }}
              {{ form.level78(class="company-button307 button pink-button locked", type="button", data_level="78") }}
              {{ form.level77(class="company-button308 button pink-button locked", type="button", data_level="77") }}
              {{ form.level76(class="company-button309 button pink-button locked", type="button", data_level="76") }}
              {{ form.level75(class="company-button310 button pink-button locked", type="button", data_level="75") }}
              {{ form.level74(class="company-button311 button pink-button locked", type="button", data_level="74") }}
              {{ form.level73(class="company-button312 button pink-button locked", type="button", data_level="73") }}
              {{ form.level72(class="company-button313 button pink-button locked", type="button", data_level="72") }}
              {{ form.level71(class="company-button314 button pink-button locked", type="button", data_level="71") }}
              {{ form.level70(class="company-button315 button pink-button locked", type="button", data_level="70") }}
              </div>
              <div class="company-container14">
              {{ form.level69(class="company-button367 button pink-button locked", type="button", data_level="69") }}
              {{ form.level68(class="company-button368 button pink-button locked", type="button", data_level="68") }}
              {{ form.level67(class="company-button366 button pink-button locked", type="button", data_level="67") }}
              {{ form.level66(class="company-button332 button pink-button locked", type="button", data_level="66") }}
              {{ form.level65(class="company-button363 button pink-button locked", type="button", data_level="65") }}
              {{ form.level64(class="company-button364 button pink-button locked", type="button", data_level="64") }}
              {{ form.level63(class="company-button365 button pink-button locked", type="button", data_level="63") }}
              {{ form.level62(class="company-button349 button pink-button locked", type="button", data_level="62") }}
              {{ form.level61(class="company-button334 button pink-button locked", type="button", data_level="61") }}
              {{ form.level60(class="company-button345 button pink-button locked", type="button", data_level="60") }}
              {{ form.level59(class="company-button340 button pink-button locked", type="button", data_level="59") }}
              {{ form.level58(class="company-button347 button green-button locked", type="button", data_level="58") }}
              {{ form.level57(class="company-button331 button green-button locked", type="button", data_level="57") }}
              {{ form.level56(class="company-button346 button green-button locked", type="button", data_level="56") }}
              {{ form.level55(class="company-button344 button green-button locked", type="button", data_level="55") }}
              {{ form.level54(class="company-button348 button green-button locked", type="button", data_level="54") }}
              {{ form.level53(class="company-button342 button green-button locked", type="button", data_level="53") }}
              {{ form.level52(class="company-button341 button green-button locked", type="button", data_level="52") }}
              {{ form.level51(class="company-button343 button green-button locked", type="button", data_level="51") }}
              {{ form.level50(class="company-button335 button green-button locked", type="button", data_level="50") }}
              {{ form.level49(class="company-button339 button green-button locked", type="button", data_level="49") }}
              {{ form.level48(class="company-button333 button green-button locked", type="button", data_level="48") }}
              {{ form.level47(class="company-button362 button green-button locked", type="button", data_level="47") }}
              {{ form.level46(class="company-button337 button green-button locked", type="button", data_level="46") }}
              {{ form.level45(class="company-button350 button green-button locked", type="button", data_level="45") }}
              {{ form.level44(class="company-button338 button green-button locked", type="button", data_level="44") }}
              {{ form.level43(class="company-button336 button green-button locked", type="button", data_level="43") }}
              {{ form.level42(class="company-button353 button green-button locked", type="button", data_level="42") }}
              {{ form.level41(class="company-button354 button green-button locked", type="button", data_level="41") }}
              {{ form.level40(class="company-button355 button green-button locked", type="button", data_level="40") }}
              {{ form.level39(class="company-button352 button green-button locked", type="button", data_level="39") }}
              {{ form.level38(class="company-button351 button green-button locked", type="button", data_level="38") }}
              {{ form.level37(class="company-button356 button green-button locked", type="button", data_level="37") }}
              {{ form.level36(class="company-button357 button green-button locked", type="button", data_level="36") }}
              {{ form.level35(class="company-button358 button green-button locked", type="button", data_level="35") }}
              {{ form.level34(class="company-button359 button green-button locked", type="button", data_level="34") }}
              {{ form.level33(class="company-button360 button green-button locked", type="button", data_level="33") }}
              {{ form.level32(class="company-button361 button green-button locked", type="button", data_level="32") }}
              </div>
              <div class="company-container15">
              {{ form.level31(class="company-button370 button green-button locked", type="button", data_level="31") }}
              {{ form.level30(class="company-button371 button green-button locked", type="button", data_level="30") }}
              {{ form.level29(class="company-button372 button green-button locked", type="button", data_level="29") }}
              {{ form.level28(class="company-button373 button green-button locked", type="button", data_level="28") }}
              {{ form.level27(class="company-button374 button green-button locked", type="button", data_level="27") }}
              {{ form.level26(class="company-button375 button green-button locked", type="button", data_level="26") }}
              {{ form.level25(class="company-button376 button green-button locked", type="button", data_level="25") }}
              {{ form.level24(class="company-button377 button green-button locked", type="button", data_level="24") }}
              {{ form.level23(class="company-button378 button green-button locked", type="button", data_level="23") }}
              {{ form.level22(class="company-button380 button green-button locked", type="button", data_level="22") }}
              {{ form.level21(class="company-button381 button green-button locked", type="button", data_level="21") }}
              {{ form.level20(class="company-button382 button green-button locked", type="button", data_level="20") }}
              {{ form.level19(class="company-button392 button green-button locked", type="button", data_level="19") }}
              {{ form.level18(class="company-button393 button green-button locked", type="button", data_level="18") }}
              {{ form.level17(class="company-button394 button green-button locked", type="button", data_level="17") }}
              {{ form.level16(class="company-button395 button green-button locked", type="button", data_level="16") }}
              {{ form.level15(class="company-button396 button green-button locked", type="button", data_level="15") }}
              {{ form.level14(class="company-button397 button green-button locked", type="button", data_level="14") }}
              {{ form.level13(class="company-button398 button green-button locked", type="button", data_level="13") }}
              {{ form.level12(class="company-button379 button green-button locked", type="button", data_level="12") }}
              {{ form.level11(class="company-button383 button green-button locked", type="button", data_level="11") }}
              {{ form.level10(class="company-button384 button green-button locked", type="button", data_level="10") }}
              {{ form.level9(class="company-button385 button green-button locked", type="button", data_level="9") }}
              {{ form.level8(class="company-button386 button green-button locked", type="button", data_level="8") }}
              {{ form.level7(class="company-button387 button green-button locked", type="button", data_level="7") }}
              {{ form.level6(class="company-button388 button green-button locked", type="button", data_level="6") }}
              {{ form.level5(class="company-button389 button green-button locked", type="button", data_level="5") }}
              {{ form.level4(class="company-button391 button green-button locked", type="button", data_level="4") }}
              {{ form.level3(class="company-button390 button green-button locked", type="button", data_level="3") }}
              {{ form.level2(class="company-button369 button green-button locked", type="button", data_level="2") }}
              {{ form.level1(class="company-button399 button green-button locked", type="button", data_level="1") }}
              </div>
            </div>
                      <div class="leaderboard-progress" id="top">
                          <div class="closeModal" id="close_modal"></div>
            <div class="current-progress">
                <h2>Ваш прогресс</h2>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ progress_yours }}%;"></div>
                    <span class="progress-text">{{ progress_yours }}%</span>
                </div>
            </div>
            <div class="leaderboard">
                <h2>Топ-100 игроков</h2>
                <ul id="leaderboard-list">
                    {% for user in top100 %}
                    {% set user_name = user[0] %}
                    {% set user_surname = user[1] %}
                    {% set user_percent = user[2] %}
                    {% set user_avatar = user[3] %}
                    <li>
                        <img src="{{ user_avatar }}" alt="Avatar">
                        <span class="nickname">{{ user_name }} {{ user_surname }}</span>
                        <div class="progress-bar">
                            <div class="progress-fill" style="width: {{ user_percent }}%;"></div>
                            <span class="progress-text">{{ user_percent }}%</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
          </div>
        </div>
        <div id="mini-menu" class="mini-menu hidden">
          <div class="lines">
            <div class="long-line line"></div>
            <div class="medium-line line"></div>
            <div class="short-line line"></div>
            <div class="medium-line line"></div>
            <div class="long-line line"></div>
          </div>
          <div class="rectangle">
            <h1 class="level-number" id="level-number">1</h1>
          </div>
          <div class="level-theme">
            <h3 id="level-theme"></h3>
          </div>
          <div class="level-intro">
            <h4 id="level-intro"></h4>
          </div>
          <div class="buttons">
            <button class="start-button" id="start-button">Начать</button>
          </div>
        </div>
      </div>
    <div class="toggle-top-button" id="toggle-top">
        <h1>Топ игроков</h1>
    </div>
    </form>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const userLevel = {{ level }};
        const miniMenu = document.getElementById('mini-menu');
        const buttons = document.querySelectorAll('.button');
        const startButton = document.getElementById('start-button');
        let selectedLevel = null;

        // Разблокировать кнопки в зависимости от уровня пользователя
        buttons.forEach(button => {
            const level = parseInt(button.getAttribute('data-level'));
            if (level <= userLevel) {
                button.classList.remove('locked');
            }
        });

        // Прокрутить страницу до текущего уровня
        const scrollToCurrentLevel = () => {
            const currentButton = document.querySelector(`.button[data-level="${userLevel}"]`);
            if (currentButton) {
                const buttonPosition = currentButton.getBoundingClientRect().top + window.pageYOffset;
                window.scrollTo({
                    top: buttonPosition,
                    behavior: 'smooth'
                });
            }
        };

        // Вызов функции прокрутки после разблокировки кнопок с небольшой задержкой
        setTimeout(scrollToCurrentLevel, 100);  // Adjust the delay as needed

        // Функция для скрытия меню
        const hideMenu = () => {
            miniMenu.classList.add('hidden');
            miniMenu.classList.remove('show');
        };

        // Переключение видимости меню
        const toggleMenu = (event) => {
            if (event.target.classList.contains('locked')) {
                return; // Не показывать меню для заблокированных кнопок
            }

            event.preventDefault(); // Prevent default form submission

            const mouseX = event.clientX + window.pageXOffset - miniMenu.offsetWidth / 2;
            const mouseY = event.clientY + window.pageYOffset - miniMenu.offsetHeight / 2;

            miniMenu.style.left = `${mouseX}px`;
            miniMenu.style.top = `${mouseY}px`;
            miniMenu.classList.add('show');
            miniMenu.classList.remove('hidden');

            selectedLevel = event.target.getAttribute('data-level');

            // Send AJAX request
            $.ajax({
                type: 'POST',
                url: `/menu_company`,
                contentType: 'application/json',
                data: JSON.stringify({ level: selectedLevel }),
                success: function(response) {
                    document.getElementById('level-number').textContent = response.levelNumber;
                    document.getElementById('level-intro').textContent = response.levelIntro;
                    document.getElementById('level-theme').textContent = response.levelTheme;
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });

            // Остановить всплытие события, чтобы оно не добралось до обработчика на документе
            event.stopPropagation();
        };

        // Добавление обработчика клика на кнопки
        buttons.forEach(button => {
            button.addEventListener('click', toggleMenu);
        });

        // Обработчик клика на документе
        document.addEventListener('click', (event) => {
            if (!miniMenu.contains(event.target)) {
                hideMenu();
            }
        });

        // Обработчик клика по кнопке старта
        startButton.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent default form submission
            if (selectedLevel) {
                window.location.href = `/start_level/${selectedLevel}`;
            }
            event.stopPropagation(); // Остановить всплытие события, чтобы оно не добралось до обработчика на документе
        });
    });
</script>
    <script src="../static/js/company.js"></script>
  <script>
    window.onload = function() {
        window.scrollTo(0, document.body.scrollHeight);
    };
  </script>
{% endblock %}
