<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/level.css') }}">
    <link rel="icon" href="../static/media/logo.png">
    <style>
        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background-color: grey;
            border-radius: 50%;
        }
        .dot.active {
            background-color: green;
        }
        .wrong-answer {
            color: red;
            font-weight: bold;
        }
        .good-answer {
            color: forestgreen;
            font-weight: bold;
        }
        .choices-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .choice-button {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
    <title>MathUp!</title>
</head>
<body>
<form id="levelForm" action="" method="post" class="level-container">
    {{ form.hidden_tag() }}
    <header class="level-header">
        <a href="/menu_company" class="back-button" id="backButton">Вернуться</a>
        <h1>{{ topic }}</h1>
        {% if timer %}
        <div class="timer" id="timer">{{ timer }}</div>
        {% endif %}
    </header>
    <main class="level-main">
        <h2 id="question">{{ tasks[0] }}</h2>
        <div class="image-container">
            {% if imgs[currentIndex] != None %}
                <img id="questionImage" src="{{ url_for('static', filename=imgs[currentIndex]) }}">
            {% endif %}
        </div>
        <div id="good-answer" class="good-answer"></div>
        <div id="wrong-answer" class="wrong-answer"></div>
        <div id="choicesContainer" class="choices-container" style="display: none;"></div>
        <div id="textAnswerContainer">
            {{ form.text_answer(id="textAnswerInput", class="text-answer-input") }}
        </div>
    </main>
    <footer class="level-footer">
        <button type="button" id="prevButton" class="prev-button">Назад</button>
        <div class="progress">
            {% for _ in tasks %}
            <span class="dot"></span>
            {% endfor %}
        </div>
        <button type="button" id="checkButton" class="check-button next-button">Ответить</button>
        <button type="button" id="nextButton" class="next-button" style="display: none;">Дальше</button>
        <button type="button" id="finishButton" class="finish-button next-button" style="display: none;">Закончить</button>
    </footer>
    <input type="hidden" id="currentTaskIndex" value="0">
    <input type="hidden" id="currentAnswer" value="">
    <input type="hidden" id="level" name="level" value="{{ level }}">
</form>
<script src="{{ url_for('static', filename='js/level.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const tasks = {{ tasks|tojson }};
    const answers = {{ answers|tojson }};
    const choices = {{ choice|tojson }};
    const imgs = {{ imgs|tojson }};
    const timerElement = document.getElementById('timer');
    const goodAnswer = document.getElementById('good-answer');
    const wrongAnswer = document.getElementById('wrong-answer');
    const questionElement = document.getElementById('question');
    const textAnswerInput = document.getElementById('textAnswerInput');
    const checkButton = document.getElementById('checkButton');
    const nextButton = document.getElementById('nextButton');
    const finishButton = document.getElementById('finishButton');
    const prevButton = document.getElementById('prevButton');
    const currentTaskIndexElement = document.getElementById('currentTaskIndex');
    const currentAnswerElement = document.getElementById('currentAnswer');
    const dots = document.querySelectorAll('.dot');
    const choicesContainer = document.getElementById('choicesContainer');
    const textAnswerContainer = document.getElementById('textAnswerContainer');
    const questionImage = document.getElementById('questionImage');

    function updateQuestion() {
        const currentIndex = parseInt(currentTaskIndexElement.value);
        questionElement.textContent = tasks[currentIndex];
        textAnswerInput.value = '';
        goodAnswer.textContent = '';
        wrongAnswer.textContent = '';
        nextButton.style.display = 'none';
        finishButton.style.display = 'none';
        checkButton.style.display = 'inline-block'; // Ensure the check button is shown initially
        currentAnswerElement.value = '';

        if (imgs[currentIndex] !== null) {
            questionImage.src = "{{ url_for('static', filename='') }}" + imgs[currentIndex];
            questionImage.style.display = 'block';
        } else {
            questionImage.style.display = 'none';
        }

        if (choices[currentIndex] && choices[currentIndex].length > 0) {
            textAnswerContainer.style.display = 'none';
            choicesContainer.style.display = 'flex';
            choicesContainer.innerHTML = '';
            choices[currentIndex].forEach((choice) => {
                const button = document.createElement('button');
                button.textContent = choice;
                button.classList.add('choice-button');
                button.addEventListener('click', () => {
                    checkChoice(choice);
                    currentAnswerElement.value = choice;
                });
                choicesContainer.appendChild(button);
            });
            checkButton.style.display = 'none';
        } else {
            textAnswerContainer.style.display = 'block';
            choicesContainer.style.display = 'none';
            checkButton.style.display = 'inline-block'; // Ensure the check button is shown for text answers
            textAnswerInput.addEventListener('input', () => {
                currentAnswerElement.value = textAnswerInput.value;
            });
        }

        updateProgress();
    }

    function updateProgress() {
        const currentIndex = parseInt(currentTaskIndexElement.value);
        dots.forEach((dot, index) => {
            if (index <= currentIndex) {
                dot.classList.add('active');
            } else {
                dot.classList.remove('active');
            }
        });
    }

    function checkChoice(selectedChoice) {
        const currentIndex = parseInt(currentTaskIndexElement.value);
        const correctAnswer = answers[currentIndex];
        if (selectedChoice === correctAnswer) {
            wrongAnswer.textContent = "";
            goodAnswer.textContent = 'Ответ правильный!';
            choicesContainer.querySelectorAll('button').forEach(button => {
                button.disabled = true;
            });
            checkButton.style.display = 'none';
            if (currentIndex < tasks.length - 1) {
                nextButton.style.display = 'inline-block';
            } else {
                finishButton.style.display = 'inline-block';
            }
        } else {
            wrongAnswer.textContent = 'Ответ неправильный. Попробуйте снова.';
        }
    }

    checkButton.addEventListener('click', (event) => {
        event.preventDefault();
        const currentIndex = parseInt(currentTaskIndexElement.value);
        const userAnswer = textAnswerInput.value.trim();
        const correctAnswer = answers[currentIndex].replace(',', '.'); // Заменяем запятую на точку

        if (userAnswer === correctAnswer) {
            wrongAnswer.textContent = "";
            goodAnswer.textContent = 'Ответ правильный!';
            checkButton.style.display = 'none';
            if (currentIndex < tasks.length - 1) {
                nextButton.style.display = 'inline-block';
            } else {
                finishButton.style.display = 'inline-block';
            }
        } else {
            wrongAnswer.textContent = 'Ответ неправильный. Попробуйте снова.';
        }
    });

    nextButton.addEventListener('click', () => {
        let currentIndex = parseInt(currentTaskIndexElement.value);
        if (currentIndex < tasks.length - 1) {
            currentIndex += 1;
            currentTaskIndexElement.value = currentIndex;
            updateQuestion();
        }
    });

    prevButton.addEventListener('click', () => {
        let currentIndex = parseInt(currentTaskIndexElement.value);
        if (currentIndex > 0) {
            currentIndex -= 1;
            currentTaskIndexElement.value = currentIndex;
            updateQuestion();
        }
    });

    finishButton.addEventListener('click', () => {
        const form = document.getElementById('levelForm');
        form.action = "/menu_company?next_level=true";
        form.submit();
    });

    function handleEnterKey(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            if (checkButton.style.display === 'inline-block') {
                checkButton.click();
            } else if (nextButton.style.display === 'inline-block') {
                nextButton.click();
            } else if (finishButton.style.display === 'inline-block') {
                finishButton.click();
            }
        }
    }

    document.addEventListener('keydown', handleEnterKey);

    if (timerElement) {
        startTimer(timerElement.textContent);
    }

    function startTimer(duration) {
        let timer = duration.split(':').reduce((acc, time) => (60 * acc) + +time);
        const interval = setInterval(() => {
            if (--timer < 0) {
                clearInterval(interval);
                wrongAnswer.textContent = 'Время вышло. Чтобы вернуться назад, нажмите кнопку Вернуться.';
                disableAllButtons();
            } else {
                const minutes = Math.floor(timer / 60);
                const seconds = timer % 60;
                timerElement.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            }
        }, 1000);
    }

    function disableAllButtons() {
        checkButton.disabled = true;
        nextButton.disabled = true;
        prevButton.disabled = true;
        finishButton.disabled = true;
        document.querySelectorAll('.choice-button').forEach(button => {
            button.disabled = true;
        });
    }

    updateQuestion();
});
</script>
</body>
</html>
