<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathUp!</title>
    <link rel="stylesheet" href="../static/css/mix.css">
    <link rel="icon" href="../static/media/logo.png">
</head>
<body>
<button type="button" class="back-button" id="back-btn" onclick="location.href='/choice_class'">Вернуться</button>
<h1>Выберите темы</h1>
    <form class="checkbox-container" id="theme-form" action="/mix" method="POST">
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-1" name="theme" type="checkbox" value="Счет предметов">
                <label for="check-1"></label>
            </div>
            <span>Счет предметов</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-2" name="theme" type="checkbox" value="Многоугольники">
                <label for="check-2"></label>
            </div>
            <span>Многоугольники</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-3" name="theme" type="checkbox" value="Задачки на увеличение">
                <label for="check-3"></label>
            </div>
            <span>Задачки на увеличение</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-4" name="theme" type="checkbox" value="Задачки на уменьшение">
                <label for="check-4"></label>
            </div>
            <span>Задачки на уменьшение</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-5" name="theme" type="checkbox" value="Задачки (разнобой)">
                <label for="check-5"></label>
            </div>
            <span>Задачки (разнобой)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-6" name="theme" type="checkbox" value="Примеры на счет">
                <label for="check-6"></label>
            </div>
            <span>Примеры на счет</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-7" name="theme" type="checkbox" value="Числа от 1 до 20">
                <label for="check-7"></label>
            </div>
            <span>Числа от 1 до 20</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-8" name="theme" type="checkbox" value="Счет десятками">
                <label for="check-8"></label>
            </div>
            <span>Счет десятками</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-9" name="theme" type="checkbox" value="Сложение и вычитание (Числа от 1 до 100)">
                <label for="check-9"></label>
            </div>
            <span>Сложение и вычитание (Числа от 1 до 100)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-10" name="theme" type="checkbox" value="Уравнения">
                <label for="check-10"></label>
            </div>
            <span>Уравнения</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-11" name="theme" type="checkbox" value="Деление и умножение (Начальные)">
                <label for="check-11"></label>
            </div>
            <span>Деление и умножение (Начальные)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-12" name="theme" type="checkbox" value="Примеры">
                <label for="check-12"></label>
            </div>
            <span>Примеры</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-13" name="theme" type="checkbox" value="Сложение (Трехзначные числа)">
                <label for="check-13"></label>
            </div>
            <span>Сложение (Трехзначные числа)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-14" name="theme" type="checkbox" value="Вычитание (Трехзначные числа)">
                <label for="check-14"></label>
            </div>
            <span>Вычитание (Трехзначные числа)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-15" name="theme" type="checkbox" value="Деление (Среднее)">
                <label for="check-15"></label>
            </div>
            <span>Деление (Среднее)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-16" name="theme" type="checkbox" value="Умножение (Среднее)">
                <label for="check-16"></label>
            </div>
            <span>Умножение (Среднее)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-17" name="theme" type="checkbox" value="Деление (Трехзначные числа)">
                <label for="check-17"></label>
            </div>
            <span>Деление (Трехзначные числа)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-18" name="theme" type="checkbox" value="Примеры (Трехзначные числа)">
                <label for="check-18"></label>
            </div>
            <span>Примеры (Трехзначные числа)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-19" name="theme" type="checkbox" value="Сложение (Три слагаемых)">
                <label for="check-19"></label>
            </div>
            <span>Сложение (Три слагаемых)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-20" name="theme" type="checkbox" value="Сложение (Числа больше 1000)">
                <label for="check-20"></label>
            </div>
            <span>Сложение (Числа больше 1000)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-21" name="theme" type="checkbox" value="Умножение (На произведение)">
                <label for="check-21"></label>
            </div>
            <span>Умножение (На произведение)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-22" name="theme" type="checkbox" value="Умножение (Продвинутое)">
                <label for="check-22"></label>
            </div>
            <span>Умножение (Продвинутое)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-23" name="theme" type="checkbox" value="Деление (На двузначные)">
                <label for="check-23"></label>
            </div>
            <span>Деление (На двузначные)</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-24" name="theme" type="checkbox" value="Деление (Продвинутое)">
                <label for="check-24"></label>
            </div>
            <span>Деление (Продвинутое)</span>
        </div>
        <div class="hidden"></div>
        <button type="button" class="submit-button" id="next-btn" onclick="startMix()">Дальше</button>
    </form>
<script>
    function startMix() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if (checkboxes.length === 0) {
            alert('Ни одна тема не выбрана');
            return;
        }

        const selectedThemes = Array.from(checkboxes).map(checkbox => checkbox.value);

        fetch('/save_result', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                action: "start_mix",
                topic: selectedThemes
            })
        }).then(response => {
            if (response.ok) {
                document.getElementById('theme-form').submit();
            } else {
                alert('Ошибка при сохранении данных');
            }
        }).catch(error => {
            alert('Ошибка сети: ' + error.message);
        });
    }

    document.getElementById('theme-form').addEventListener('submit', function(event) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if (checkboxes.length === 0) {
            event.preventDefault();
            alert('Ни одна тема не выбрана');
        }
    });
</script>
</body>
</html>
