<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Register - Active Online Software Page</title>
    <meta property="og:title" content="Register - Active Online Software Page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="twitter:card" content="summary_large_image">
    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }</style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
            fill: var(--dl-color-gray-black);
        }</style>
    <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
          data-tag="font">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          data-tag="font">
    <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css">
    <style>
        body::-webkit-scrollbar {
            width: 0.5em;
            z-index: 100;
            background-color: transparent;
        }

        body::-webkit-scrollbar-thumb {
            background-color: white;
            box-shadow: 0 -100vh 0 100vh #5128f5;
        / / magic
        }

    </style>
        <style>

        .container {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        h1, h2 {
            color: #0056b3;
        }
        p, ul {
            margin-bottom: 20px;
        }
        ul {
            padding-left: 20px;
        }
        ul li {
            margin-bottom: 10px;
        }
        .section {
            max-height: 95%; /* Максимальная высота блока */
            overflow-y: auto; /* Вертикальная полоса прокрутки */
        }
    </style>
</head>
<body>
<link rel="stylesheet" href="../static/css/style.css">
<div>
    <link href="../static/css/register.css" rel="stylesheet">
    <div class="register-container">
        <div class="register-container1">
            <div class="register-container2"></div>
            <div class="register-max-width thq-section-max-width">
                <div class="register-form thq-section-padding">
                    <div class="register-title-root"><h2 class="register-text thq-heading-2">
                        <span>Регистрация</span><br></h2>
                        <div class="register-container3"><p class="thq-body-large register-text03">Уже есть
                            аккаунт? </p>
                            <p class="register-text04 thq-body-large"><a href="/login">&nbsp;Войти</a></p></div>
                    </div>
                    <div class="yandex">
                        <button class="yandex-button thq-button-outline" onclick="location.href='/reg_yandex'">
                            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.04 12c0-5.523 4.476-10 10-10 5.522 0 10 4.477 10 10s-4.478 10-10 10c-5.524 0-10-4.477-10-10z" fill="#633df6"/><path d="M13.32 7.666h-.924c-1.694 0-2.585.858-2.585 2.123 0 1.43.616 2.1 1.881 2.959l1.045.704-3.003 4.487H7.49l2.695-4.014c-1.55-1.111-2.42-2.19-2.42-4.015 0-2.288 1.595-3.85 4.62-3.85h3.003v11.868H13.32V7.666z" fill="#fff"/></svg>
                            Продолжить с Яндекс
                        </button>
                    </div>
                    <div class="register-divider">
                        <div class="register-divider1"></div>
                        <p class="thq-body-large">Или </p>
                        <div class="register-divider2"></div>
                    </div>
                    <form action="" method="post" class="register-form1" id="registration-form">
                        {{ form.hidden_tag() }}
                        <div class="register-email">
                            <span><span>Имя и фамилия</span></span>
                            {{ form.name(class="form-control register-textinput thq-body-large thq-input", id="thq-sign-up-4-email", required="true") }}
                        </div>
                        <div class="register-email1">
                            {{ form.surname(class="form-control register-textinput1 thq-body-large thq-input",
                            id="thq-sign-up-4-email") }}
                        </div>
                        <div class="register-email2">
                            <span>Почта</span>
                            {{ form.email(class="register-textinput2 thq-body-large thq-input", type="email") }}
                        </div>
                        <div class="register-email3">
                            <span>Пароль</span>
                            {{ form.password(class="register-textinput3 thq-body-large thq-input", type="password", id="password") }}
                            <div id="passwordMessage" class="error"></div>
                        </div>
                        <div class="register-email4">
                            <span>Подтверждение пароля</span>
                            {{ form.password_confirmation(class="register-textinput4 thq-body-large thq-input",
                            type="password") }}
                        </div>
                        {{ form.submit(type="submit", class="register-button2 thq-button-filled register-text13
                        thq-body-small") }}
                    </form>
                    <div class="register-container5">
                        <div class="register-terms-agree">
                            <input type="checkbox" id="thq-sign-up-4-terms" class="register-checkbox thq-checkbox"/>
                            <label for="thq-sign-up-4-terms" class="thq-body-large register-text14">
                                <span>Я принимаю </span><br/>
                            </label>
                            <a href="javascript:void(0)" class="register-link" onclick="togglePrivacyPolicy()">
                                <label class="register-text17 thq-body-large" id="policy-text">
                                    <span>политику конфиденциальности</span><br/>
                                </label>
                            </a>
                        </div>
                    </div>
                    <div class="register-error">
                        {% if message %}
                        <p class="thq-body-large register-text-error">{{ message }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="privacy-policy" id="policy">
            <div class="closeModal" id="close_modal"></div>
            <h1>Политика персональных данных</h1>
            <div class="section">
                <h2>1. Общие положения</h2>
                <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Командой CodeBlaze (далее — Оператор).</p>
                <p>1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
                <p>1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="https://math-up.ru">https://math-up.ru</a>.</p>
                <h2>2. Основные понятия, используемые в Политике</h2>
                <ul>
                    <li><strong>2.1. Автоматизированная обработка персональных данных</strong> — обработка персональных данных с помощью средств вычислительной техники.</li>
                    <li><strong>2.2. Блокирование персональных данных</strong> — временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</li>
                    <li><strong>2.3. Веб-сайт</strong> — совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="https://math-up.ru">https://math-up.ru</a>.</li>
                    <li><strong>2.4. Информационная система персональных данных</strong> — совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.</li>
                    <li><strong>2.5. Обезличивание персональных данных</strong> — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.</li>
                    <li><strong>2.6. Обработка персональных данных</strong> — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                    <li><strong>2.7. Оператор</strong> — государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и/или осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li>
                    <li><strong>2.8. Персональные данные</strong> — любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта <a href="https://math-up.ru">https://math-up.ru</a>.</li>
                    <li><strong>2.9. Персональные данные, разрешенные субъектом персональных данных для распространения</strong> — персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для распространения в порядке, предусмотренном Законом о персональных данных (далее — персональные данные, разрешенные для распространения).</li>
                    <li><strong>2.10. Пользователь</strong> — любой посетитель веб-сайта <a href="https://math-up.ru">https://math-up.ru</a>.</li>
                    <li><strong>2.11. Предоставление персональных данных</strong> — действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</li>
                    <li><strong>2.12. Распространение персональных данных</strong> — любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом.</li>
                    <li><strong>2.13. Трансграничная передача персональных данных</strong> — передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.</li>
                    <li><strong>2.14. Уничтожение персональных данных</strong> — любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и/или уничтожаются материальные носители персональных данных.</li>
                </ul>
                <h2>3. Основные права и обязанности Оператора</h2>
                <p>3.1. Оператор имеет право:</p>
                <ul>
                    <li>получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;</li>
                    <li>в случае отзыва субъектом персональных данных согласия на обработку персональных данных, а также, направления обращения с требованием о прекращении обработки персональных данных, Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;</li>
                    <li>самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.</li>
                </ul>
                <p>3.2. Оператор обязан:</p>
                <ul>
                    <li>предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;</li>
                    <li>организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;</li>
                    <li>отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;</li>
                    <li>сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 10 дней с даты получения такого запроса;</li>
                    <li>публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении обработки персональных данных;</li>
                    <li>принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;</li>
                    <li>прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;</li>
                    <li>исполнять иные обязанности, предусмотренные Законом о персональных данных.</li>
                </ul>
                <h2>4. Основные права и обязанности субъектов персональных данных</h2>
                <p>4.1. Субъекты персональных данных имеют право:</p>
                <ul>
                    <li>получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;</li>
                    <li>требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;</li>
                    <li>выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;</li>
                    <li>отзыв согласия на обработку персональных данных;</li>
                    <li>обжаловать действия или бездействие Оператора в Уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке;</li>
                    <li>на осуществление иных прав, предусмотренных законодательством РФ.</li>
                </ul>
                <p>4.2. Субъекты персональных данных обязаны:</p>
                <ul>
                    <li>предоставлять Оператору достоверные данные о себе;</li>
                    <li>сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.</li>
                </ul>
                <p>4.3. Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.</p>
                <h2>5. Оператор может обрабатывать следующие персональные данные Пользователя</h2>
                <ul>
                    <li>Фамилия, имя, отчество;</li>
                    <li>Электронный адрес;</li>
                    <li>Номера телефонов;</li>
                    <li>Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</li>
                    <li>Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</li>
                </ul>
                <h2>6. Принципы обработки персональных данных</h2>
                <ul>
                    <li>Обработка персональных данных осуществляется на законной и справедливой основе;</li>
                    <li>Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей;</li>
                    <li>Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных;</li>
                    <li>Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;</li>
                    <li>Обработке подлежат только персональные данные, которые отвечают целям их обработки;</li>
                    <li>Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки. Не допускается избыточность обрабатываемых персональных данных по отношению к заявленным целям их обработки;</li>
                    <li>При обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Оператор принимает необходимые меры по удалению или уточнению неполных или неточных данных;</li>
                    <li>Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных. Обрабатываемые персональные данные уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом;</li>
                    <li>Обеспечение конфиденциальности персональных данных;</li>
                    <li>Обеспечение безопасности персональных данных при их обработке достигается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных;</li>
                    <li>Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц;</li>
                    <li>Персональные данные не подлежат раскрытию третьим лицам и без согласия субъекта персональных данных, за исключением случаев, предусмотренных федеральным законом.</li>
                </ul>
                <h2>7. Цели обработки персональных данных</h2>
                <ul>
                    <li>Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем;</li>
                    <li>Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты <a href="mailto:info@codeblaze.ru">info@codeblaze.ru</a> с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях»;</li>
                    <li>Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</li>
                </ul>
                <h2>8. Правовые основания обработки персональных данных</h2>
                <ul>
                    <li>Правовыми основаниями обработки персональных данных Оператором являются:</li>
                    <li>Федеральный закон «О персональных данных»;</li>
                    <li>Федеральные законы, иные нормативно-правовые акты в сфере защиты персональных данных;</li>
                    <li>Согласия Пользователей на обработку их персональных данных, на обработку персональных данных, разрешенных для распространения.</li>
                    <li>Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a href="https://math-up.ru">https://math-up.ru</a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой;</li>
                    <li>Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).</li>
                </ul>
                <h2>9. Условия обработки персональных данных</h2>
                <ul>
                    <li>Обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;</li>
                    <li>Обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;</li>
                    <li>Обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве;</li>
                    <li>Обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;</li>
                    <li>Обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;</li>
                    <li>Осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее — общедоступные персональные данные);</li>
                    <li>Осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.</li>
                </ul>
                <h2>10. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h2>
                <p>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p>
                <p>10.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</p>
                <p>10.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства, либо в случае, если субъектом персональных данных дано согласие Оператору на передачу данных третьему лицу для выполнения обязательств по гражданско-правовому договору.</p>
                <p>10.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a href="mailto:info@codeblaze.ru">info@codeblaze.ru</a> с пометкой «Актуализация персональных данных».</p>
                <p>10.4. Срок обработки персональных данных определяется достижением целей, для которых были собраны персональные данные, если иной срок не предусмотрен договором или действующим законодательством.</p>
                <p>Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора <a href="mailto:info@codeblaze.ru">info@codeblaze.ru</a> с пометкой «Отзыв согласия на обработку персональных данных».</p>
                <p>10.5. Вся информация, которая собирается сторонними сервисами, в том числе платежными системами, средствами связи и другими поставщиками услуг, хранится и обрабатывается указанными лицами (Операторами) в соответствии с их Пользовательским соглашением и Политикой конфиденциальности. Субъект персональных данных и/или Пользователь обязан самостоятельно своевременно ознакомиться с указанными документами. Оператор не несет ответственность за действия третьих лиц, включая указанные в настоящем пункте поставщиков услуг.</p>
                <p>10.6. Установленные субъектом персональных данных запреты на передачу (кроме предоставления доступа), а также на обработку или условия обработки (кроме получения доступа) персональных данных, разрешенных для распространения, не действуют в случаях обработки персональных данных в государственных, общественных и иных публичных интересах, определенных законодательством РФ.</p>
                <p>10.7. Оператор при обработке персональных данных обеспечивает конфиденциальность персональных данных.</p>
                <p>10.8. Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого является субъект персональных данных.</p>
                <p>10.9. Условием прекращения обработки персональных данных может являться достижение целей обработки персональных данных, истечение срока действия согласия субъекта персональных данных, отзыв согласия субъектом персональных данных или требование о прекращении обработки персональных данных, а также выявление неправомерной обработки персональных данных.</p>
                <h2>11. Перечень действий, производимых Оператором с полученными персональными данными</h2>
                <p>11.1. Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных данных.</p>
                <p>11.2. Оператор осуществляет автоматизированную обработку персональных данных с получением и/или передачей полученной информации по информационно-телекоммуникационным сетям или без таковой.</p>
                <h2>12. Трансграничная передача персональных данных</h2>
                <p>12.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан уведомить уполномоченный орган по защите прав субъектов персональных данных о своем намерении осуществлять трансграничную передачу персональных данных (такое уведомление направляется отдельно от уведомления о намерении осуществлять обработку персональных данных). Оператор перед началом осуществления трансграничной передачи персональных данных обязан убедиться, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается адекватная защита прав субъектов персональных данных.</p>
                <p>12.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.</p>
                <h2>13. Конфиденциальность персональных данных</h2>
                <p>Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.</p>
                <h2>14. Заключительные положения</h2>
                <p>14.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты <a href="mailto:info@codeblaze.ru">info@codeblaze.ru</a>.</p>
                <p>14.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.</p>
                <p>14.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу <a href="https://math-up.ru/privacy-policy.txt">https://math-up.ru/privacy-policy</a>.</p>
            </div>
        </div>
    </div>
</div>
</div>
<script defer="" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
<script src="../static/js/check-button.js"></script>
<script src="../static/js/register.js"></script>
<script>
    function togglePrivacyPolicy() {
        var policyElement = document.getElementById('privacy-policy');
        if (policyElement.classList.contains('visible')) {
            policyElement.classList.remove('visible');
        } else {
            policyElement.classList.add('visible');
        }
    }
</script>
</body>
</html>
